.key {
  background-color: ivory;
  height: 247px;
  width: 43px;
  border: 1px solid black;
  border-radius: 5px 5px 10px 10px;
  user-select: none;
}

.key.flat {
  position: relative;
  background-color: rgb(57, 57, 57);
  border: 1px solid white;
  margin-left: -15px;
  margin-right: -15px;
  height: 200px;
  width: 30px;
  z-index: 2;
  color: ivory;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  padding-top: 173px;
}

.key.pressed,
.key.flat.pressed {
  background-color: deeppink;
  border: 1px solid white;
}

.key.flat.pressed,
.key:hover {
  border: 1px solid black;
}

.key-text {
  position: relative;
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 212px;
  pointer-events: none;
}