header {
  /* position: fixed; */
  background-color: #414141;
}

h1 {
  color: white;
}

.navItem {
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0px 20px;
}

.link {
  color: #f4804f;
  text-decoration: none;
}

.link:hover {
  color: white;
}

h1, h2, .navItem, p {
  font-family: 'Ubuntu', sans-serif;
}

p {
  width: 600px;
}
