.app {
  background-image: url('./img/moog.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 96px 0px 60px 0px;
}

header {
  position: fixed;
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  height: 96px;
  width: 100%;
  opacity: 85%;
  top: 0px;
  border-bottom: 1px solid gray;
  z-index: 1;
}

h1, h2, p {
  color: white;
}

.navItem {
  font-size: 1.5rem;
}

h1, h2, .navItem, p {
  font-family: 'Ubuntu', sans-serif;
}

.logButton {
  font-family: 'Ubuntu', sans-serif;
  height: 50px;
}

.home {
  /* background-color: #2c2c2c; */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
  margin-top: 50px;
}

.controlsImg {
  background-image: url('./img/polyD-dark.png');
  padding: 7.3%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.about, .profile {
  width: 100vw;
  height: 100vh;
  margin: 50px 0px;
}

.bio, .person {
  margin: 3px;
  padding: 30px;
  border: 1px solid darkgray;
  border-radius: 10px;
  background-color: white;
  opacity: 90%;
  align-items: center;
}

.bioImg {
  text-align: center;
  margin-bottom: 20px;
}

.bioImg img {
  border-radius: 50%;
  width: 100%;
  box-shadow: 2px 2px 4px gray;
  transition: .3s ease-in-out;
}

.bioImg img:hover {
  box-shadow: 2px 2px 4px black;
  transition: .3s ease-in-out;
  opacity: 85%;
}

.bioImg h3 {
  color: deeppink;
  transition: .3s ease-in-out;
}

.bioImg h3:hover {
  color: black;
  transition: .3s ease-in-out;
}

.bio p, .person p {
  color: black;
  font-size: 1rem;
  line-height: 1.3rem;
  text-indent: 1.5rem;
  margin-bottom: 20px;
}

.person p {
  text-indent: 0rem;
  font-size: .9rem;
}

footer {
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  background-color: black;
  height: 60px;
  opacity: 85%;
  border-top: 1px solid gray;
}

footer p {
  margin: auto;
  text-align: center;
  font-size: 1.1em;
}

@media (max-width: 768px) {
  header {
    height: 192px;
  }
  .controlsImg {
    transform: rotate(90deg);
  }

  .about {
    margin: 50% 0% 30% 0%;
  }
}
