.app {
  overflow: hidden;
  background-image: url('./img/moog.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  position: fixed;
  background-color: #000000;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  top: 0px;
  opacity: 80%;
}

h1, h2, p {
  color: white;
}

.navItem {
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0px 20px;
}

.link {
  color: deeppink;
  text-decoration: none;
}

.link:hover {
  color: white;
}

h1, h2, .navItem, p {
  font-family: 'Ubuntu', sans-serif;
}

p {
  width: 600px;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  height: 60px;
  opacity: 80%;
}

footer p {
  margin: 0px;
}

/*-------------------------------------------------------*/

.profile {
  display: flex;
  justify-content: flex-start;
  border: 1px solid deeppink;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.568);

};

.profile p {
  color: black;
}

.about:nth-child(even) .profile {
  justify-content: flex-end;
}

.about {
  height: 79vh;
}